profiles {
  docker {
    docker.enabled = true
    docker.runOptions = '-u \$(id -u):\$(id -g)'
  }
  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
  }
  nibsc {
    process {
      executor = 'slurm'
      containerOptions = '-B /usr/share -B /home/AD'
    }
    singularity.enabled = true
  }
}

params {
  modules {
    'fastqc' {
      args = ""
    }
  }
}

process {
  withLabel:process_low {
    cpus = 1
    memory = 1.GB
  }
}
